*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --main-color:#4C3BCF;
    --secondary_color:#37B7C3;
    --bg-color:#93BFCF;
    --black-color:#222;
    --white-color:#fff;
    --font-family:Arial,
        Helvetica,
        sans-serif;
        --font-weight:bold:

}

.nav-item a{
    color: var(--main-color);
    font-family: var(--font-family) !important;
    font-weight: var(--font-weight) !important;
}
button{
    padding:3px 15px;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: #17C3B2;
    font-weight: bold;
}

button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 105%;
}

button:hover {
    color: #111;
}
input[type="submit"]{
    background-color: transparent !important;
}
 form div{
    margin: 40px 0;
}
.login-control{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* form log in button  */
.button-1{
    border: none;
    display: block;
    position: relative;
    padding: 0px 0;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: bold;
    width: 50%;
}

.button-1 span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid royalblue;
}

.button-1 span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 200%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
}

.button-1:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: royalblue;
}

.button-1:hover {
    color: white;
}

.button-1:active span::before {
    background: #2751cd;
}
input{
    width: 100%;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 0px 0;
    border: 1px solid #222;
    outline: none;
}
form{
    padding: 10px 10px;
    background: url(../img/autumn-trees.jpg);
    background-position: center;
    background-size: cover;

}
.carousel-item img{
    object-fit: cover;
    object-position: center;
    height: calc(100vh - 30px);
}

